body{
    background-color:rgb(121, 234, 196);
    background-color:#99b0f6;
    background-color:#2d324a;

    zoom: 75%;

    
}


canvas{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    
}
input{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}
#space{
    /* margin-bottom: 50px; */
}